@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
        margin: 0;
        padding: 1vh;
}



.icon i {
        color: white;
}

.si {
        padding: 0.3vh;
        margin-right: 9px;

}

.nav ul li {
        list-style-type: none;
}

body {

        background: url('bbg.jpg')no-repeat center center fixed;
        background-size: cover;


}

.container {
        color: white;
        position: absolute;
        top: 25%;
        left: 35%;
}

.box input {
        background: none;
        border: 0ch;

}

.box i {
        width: 4vh;
        text-align: center;

}

.btn:hover {
        background-color: white;
        color: black;

}

h1 {
        font-size: 6vh;
        display: flex;
        justify-content: left;
        font-family: 'Noto Serif', serif;
        padding: 5vh;

}

.box {
        padding: 1vh;
        border-bottom: 0.1vh solid white;
}

.feild {
        height: 5vh;
        color: white;
        width: 49vh;
        font-size: 2.3vh;
}



.btn {
        padding: 1vh;
        display: block;
        background: none;
        margin: 2vh;
        border: 2px solid white;
        color: white;
        border-radius: 15px;
        font-size: 1.6vh;

}

li a {
        color: white;
        text-decoration: none;

}

.nav {
        display: none
}

.icon:hover .nav {
        display: block;
        margin: 2vh;
        font-size: 2.3vh;
        position: absolute;
        height: 100%;
        padding: 0.4vh;
        margin-left: -1px;

}

::placeholder {
        color: white;
}

.icon:hover .nav li {
        padding: 2.5vh;
        border-bottom: 2px solid rgb(243, 158, 169);
}

.icon:hover .nav :last-child {
        border-bottom: none;
}